## FB15k-237 semantic graph

https://www.kaggle.com/datasets/latebloomer/fb15k-237/data

https://www.kaggle.com/datasets/latebloomer/freebase-wikidata-mapping

In [1]:
# !pip install kagglehub

In [2]:
# import kagglehub

# path = kagglehub.dataset_download("latebloomer/fb15k-237")
# print("Path to dataset files:", path)

In [3]:
import pandas as pd
import numpy as np

In [4]:
data_path = "../datasets/fb15k-237/"

### Load triples and augment from source

### Load augmented triples directly

In [5]:
relations_df = pd.read_csv(f"{data_path}/derived/relations_with_ids.csv")

In [6]:
relations_df.head()

                                       relation_name  relation_id
0               /location/country/form_of_government            0
1  /tv/tv_program/regular_cast./tv/regular_tv_app...            1
2                 /media_common/netflix_genre/titles            2
3  /award/award_winner/awards_won./award/award_ho...            3
4  /soccer/football_team/current_roster./sports/s...            4

In [7]:
freebase_vs_wiki_df =  pd.read_csv(f"{data_path}/fb_wiki_mapping.tsv", sep='\t')
# freebase_vs_wiki_df =  pd.read_csv(f"{data_path}/fb_wiki_mapping.csv")

In [8]:
# freebase_vs_wiki_df[''] = df.index
freebase_vs_wiki_df.head(3)

  freebase_id wikidata_id        label
0   /m/010005     Q974334      Corinth
1   /m/01000j     Q981582       Draper
2   /m/01000w     Q977417  Cross Roads

In [9]:
freebase_vs_wiki_df.describe()

       freebase_id wikidata_id             label
count      2096636     2096636           2095837
unique     2094552     2096636           1959699
top      /m/060gfy     Q974334  Central District
freq             3           1               373

In [10]:
# strip Q from wikidata id for easier use with Kumo AI
freebase_vs_wiki_df['wikidata_int_id'] = freebase_vs_wiki_df.apply(lambda row: int(row['wikidata_id'][1:]), axis=1)

In [11]:
freebase_vs_wiki_df.drop('wikidata_id', axis=1, inplace=True)
freebase_vs_wiki_df.rename(columns={'wikidata_int_id':'wikidata_id'}, inplace=True)

In [13]:
triplets_with_src_dst_wiki_ids_df = pd.read_csv(f"{data_path}/exp3/triplets_with_src_dst_wiki_ids.csv")

In [14]:
df_test = pd.read_csv(f"{data_path}/exp3/triplets_with_src_dst_wiki_ids.test.csv")

In [15]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18286 entries, 0 to 18285
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   src_freebase_id   18286 non-null  object
 1   relation          18286 non-null  object
 2   dest_freebase_id  18286 non-null  object
 3   timestamp         18286 non-null  object
 4   relation_name     18286 non-null  object
 5   relation_id       18286 non-null  int64
 6   freebase_id_x     18286 non-null  object
 7   label_x           18286 non-null  object
 8   src_wikidata_id   18286 non-null  int64
 9   freebase_id_y     18286 non-null  object
 10  label_y           18286 non-null  object
 11  dest_wikidata_id  18286 non-null  int64
 12  triple_id         18286 non-null  int64
 13  disapprove        18286 non-null  int64
dtypes: int64(5), object(9)
memory usage: 2.0+ MB

In [16]:
triplets_with_src_dst_wiki_ids_df['disapprove'] = triplets_with_src_dst_wiki_ids_df['disapprove'].astype('bool')
df_test['disapprove'] = df_test['disapprove'].astype('bool')

In [18]:
## Reset label for test samples to 
# df_test['inaccurate'] = False
# df_test['inaccurate'] = '0.2'

# df_test.inaccurate.value_counts()

In [17]:
combined_triplets = pd.concat([triplets_with_src_dst_wiki_ids_df, df_test])

In [18]:
# combined_triplets['disapprove'] = combined_triplets['disapprove'].astype('float')
combined_triplets[['disapprove']].value_counts()

disapprove
True          130960
False         130084
Name: count, dtype: int64

In [19]:
combined_triplets['timestamp'] = pd.to_datetime(combined_triplets['timestamp'])
# combined_triplets['inaccurate'] = combined_triplets['inaccurate'].astype('bool')

In [20]:
# triplets_with_src_dst_wiki_ids_df.info()
combined_triplets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 261044 entries, 0 to 18285
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   src_freebase_id   261044 non-null  object
 1   relation          261044 non-null  object
 2   dest_freebase_id  261044 non-null  object
 3   triple_id         261044 non-null  int64
 4   timestamp         261044 non-null  datetime64[ns]
 5   relation_name     261044 non-null  object
 6   relation_id       261044 non-null  int64
 7   freebase_id_x     261044 non-null  object
 8   label_x           261044 non-null  object
 9   src_wikidata_id   261044 non-null  int64
 10  freebase_id_y     261044 non-null  object
 11  label_y           261044 non-null  object
 12  dest_wikidata_id  261044 non-null  int64
 13  disapprove        261044 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(4), object(8)
memory usage: 28.1+ MB

In [21]:
# Experiment - split labels into a separate table
# data_quality_df = combined_triplets[['triple_id', 'disapprove']].copy()

data_quality_df = triplets_with_src_dst_wiki_ids_df[['triple_id', 'disapprove']].copy()
data_quality_df['id'] = data_quality_df.index

data_quality_df['disapprove'] = data_quality_df['disapprove'].astype('int')

In [22]:
# add random timestamps to force fit into KumoAI restrictions
base_date = pd.Timestamp('2025-02-01')

num_triples = len(data_quality_df)
random_days_ago_integers = np.random.randint(1, 24, size=num_triples)

time_deltas = pd.to_timedelta(random_days_ago_integers, unit='days')

data_quality_df['created_at'] = base_date - time_deltas

In [23]:
# All nodes and associated triples for freebase / wiki ?
import kumoai as kumo

In [24]:
import kumoai.experimental.rfm as rfm
import os

In [25]:
if not os.environ.get("KUMO_API_KEY"):
    rfm.authenticate()

Opening browser page to automatically generate an API key...

[2025-08-20 11:58:59 - kumoai:298 - INFO] Generated token "sdk-macbook-pro-3.local-2025-08-20-11-58-57-Z" and saved to KUMO_API_KEY env variable

In [26]:
KUMO_API_KEY = os.environ.get("KUMO_API_KEY")
rfm.init(api_key=KUMO_API_KEY)

[2025-08-20 11:59:07 - kumoai:196 - INFO] Successfully initialized the Kumo SDK against deployment https://kumorfm.ai/api, with log level INFO.

In [27]:
triples = rfm.LocalTable(
    combined_triplets[['triple_id', 'src_wikidata_id', 'relation_id', 'dest_wikidata_id', 'timestamp']], 
    name="triples"
).infer_metadata()

Detected primary key 'triple_id' and time column 'timestamp' in table 'triples'

In [28]:
relations = rfm.LocalTable(
    relations_df, name="relations", primary_key='relation_id'
).infer_metadata()

In [30]:
data_quality = rfm.LocalTable(
    data_quality_df, name="data_quality"
).infer_metadata()

data_quality.column("disapprove").stype = "numerical"

Detected primary key 'id' and time column 'created_at' in table 'data_quality'

In [31]:
freebase_vs_wiki1 = rfm.LocalTable(freebase_vs_wiki_df, name="freebase_vs_wiki_src", primary_key="wikidata_id").infer_metadata()

In [32]:
freebase_vs_wiki2 = rfm.LocalTable(freebase_vs_wiki_df.copy(), name="freebase_vs_wiki_dest", primary_key="wikidata_id").infer_metadata()

In [33]:
graph = rfm.LocalGraph(tables=[
    triples,
    relations,
    freebase_vs_wiki1,
    freebase_vs_wiki2,
    data_quality,
])

In [34]:
# graph.link(src_table="freebase_vs_wiki", fkey="src_wikidata_id", dst_table="triples")
graph.link(src_table="triples", fkey="src_wikidata_id", dst_table="freebase_vs_wiki_src")

LocalGraph(
  tables=[triples, relations, freebase_vs_wiki_src, freebase_vs_wiki_dest, data_quality],
  edges=[Edge(src_table='triples', fkey='src_wikidata_id', dst_table='freebase_vs_wiki_src')],
)

In [35]:
graph.link(src_table="data_quality", fkey="triple_id", dst_table="triples")

LocalGraph(
  tables=[triples, relations, freebase_vs_wiki_src, freebase_vs_wiki_dest, data_quality],
  edges=[Edge(src_table='triples', fkey='src_wikidata_id', dst_table='freebase_vs_wiki_src'), Edge(src_table='data_quality', fkey='triple_id', dst_table='triples')],
)

In [36]:
graph.link(src_table="triples",fkey="relation_id", dst_table="relations")

LocalGraph(
  tables=[triples, relations, freebase_vs_wiki_src, freebase_vs_wiki_dest, data_quality],
  edges=[Edge(src_table='triples', fkey='src_wikidata_id', dst_table='freebase_vs_wiki_src'), Edge(src_table='data_quality', fkey='triple_id', dst_table='triples'), Edge(src_table='triples', fkey='relation_id', dst_table='relations')],
)

In [37]:
graph.link(src_table="triples", fkey="dest_wikidata_id", dst_table="freebase_vs_wiki_dest")

LocalGraph(
  tables=[triples, relations, freebase_vs_wiki_src, freebase_vs_wiki_dest, data_quality],
  edges=[Edge(src_table='triples', fkey='src_wikidata_id', dst_table='freebase_vs_wiki_src'), Edge(src_table='data_quality', fkey='triple_id', dst_table='triples'), Edge(src_table='triples', fkey='relation_id', dst_table='relations'), Edge(src_table='triples', fkey='dest_wikidata_id', dst_table='freebase_vs_wiki_dest')],
)

In [38]:
graph.visualize()

In [39]:
# graph['triples']['relation'].stype
# graph['triples']['relation_id'].stype

In [40]:
model = rfm.KumoRFM(graph)

Output()

In [144]:
# PREDICT triples.relation
# Couldn't pick a unique triples.relation for each freebase_vs_wiki. row 1, column 8: Encountered an error, we have found 
# multiple 'relation' values in the 'triples' table for a single 'freebase_vs_wiki'. To fix this, you have two options:
## 1. Aggregate the values: If your 'triples' table has a 'created at' column, use an aggregation function to reduce them to one value. 
##   For example: PREDICT LAST(triples.relation, 0, 30, days).
## 2. Rewrite your query: If you are writing a static node prediction predictive query, make sure that you 
##   either use the same table to define your target and entity, or you have a foreign key from the entity pointing to the target table, 
##   not the other way around.

# PREDICT triples.relation RANK TOP 10
## Problem type 'ProblemType.RANK' is only supported for multicategorical targets. . row 1, column 8: Target 'triples.relation' is 
## not multicategorical. Either drop the problem type ProblemType.RANK OR 
## change the target to a multicategorical column, 'LAST'/'FIRST' aggregation of a multicategorical column, or a 'LIST_DISTINCT' aggregation.

# FOR triples.src_wikidata_id=7413907
# Invalid entity. row 2, column 4: Entity 'triples.src_wikidata_id' is not a primary key. 
# The column used in 'FOR EACH' has to be a primary key.

# FOR 

# WHERE triples.relation contains 'place'

In [145]:
# kumo.init(api_key=KUMO_API_KEY)

In [146]:
# Working queries

query = """
PREDICT freebase_vs_wiki.freebase_id 
FOR freebase_vs_wiki.wikidata_id=7413907 
"""

query = """
PREDICT LIST_DISTINCT(triples.relation_id, 0, 80, days)
FOR freebase_vs_wiki.wikidata_id=486860 
"""

# relations / types of edges for Arnold Schwarzenegger
query = """
PREDICT LIST_DISTINCT(triples.relation_id, 0, 80, days)
FOR freebase_vs_wiki_src.wikidata_id=2685 
"""

query1 = """
PREDICT triples.inaccurate
FOR triples.triple_id =2685 
"""

# FOR triples.triple_id IN (1,2,3,4,168229,155507,15727) 

"""
PREDICT LIST_DISTINCT(triples.relation_id WHERE triples.inaccurate = 1, 0, 80, days)
FOR freebase_vs_wiki_src.wikidata_id=2685  
"""

'\nPREDICT LIST_DISTINCT(triples.relation_id WHERE triples.inaccurate = 1, 0, 80, days)\nFOR freebase_vs_wiki_src.wikidata_id=2685  \n'

In [147]:
# all triples associated with 2685
triple_ids_arnie=triplets_with_src_dst_wiki_ids_df.loc[triplets_with_src_dst_wiki_ids_df['src_wikidata_id']==2685].triple_id.to_list()

In [148]:
triple_ids_arnie_str = f"{triple_ids_arnie}"
triple_ids_arnie_str = triple_ids_arnie_str.replace("[","(").replace("]",")")

In [149]:
query1 = """
PREDICT data_quality.disappove
FOR triples.triple_id IN """ + triple_ids_arnie_str

In [41]:
# triples with label 1 / inaccurate facts from test set
probe_triplet_ids_errors=df_test.loc[df_test['disapprove']==True].sample(100).triple_id.to_list()
probe_triplet_ids_non_errors=df_test.loc[df_test['disapprove']==False].sample(100).triple_id.to_list()

probe_triplet_ids_str = f"{probe_triplet_ids_errors}"
probe_triplet_ids_str = probe_triplet_ids_str.replace("[","(").replace("]",")")

In [42]:
probe_triplet_ids_str = f"{probe_triplet_ids_errors}"
probe_triplet_ids_str = probe_triplet_ids_str.replace("[","(").replace("]",")")
# print(probe_triplet_ids_str)

query1 = """
PREDICT AVG(data_quality.disapprove, 0, 80, days)
FOR triples.triple_id IN """ + probe_triplet_ids_str

pred1_df = model.predict(query1)

probe_triplet_ids_str = f"{probe_triplet_ids_non_errors}"
probe_triplet_ids_str = probe_triplet_ids_str.replace("[","(").replace("]",")")
query2 = """
PREDICT AVG(data_quality.disapprove, 0, 80, days)
FOR triples.triple_id IN """ + probe_triplet_ids_str

pred2_df = model.predict(query2)

/Users/ravid/miniconda3/envs/kumo-hackathon-py311/lib/python3.11/site-packages/kumoai/experimental/rfm/rfm.py:360:
UserWarning: Anchor timestamp is too early or aggregation time range is too large. To form proper input data, we
would need data back to '2024-08-24 00:00:00', however, your data only contains data back to '2024-10-04 00:00:00'.
  warnings.warn(f"Anchor timestamp is too early or aggregation "

Output()

/Users/ravid/miniconda3/envs/kumo-hackathon-py311/lib/python3.11/site-packages/kumoai/experimental/rfm/rfm.py:360:
UserWarning: Anchor timestamp is too early or aggregation time range is too large. To form proper input data, we
would need data back to '2024-08-24 00:00:00', however, your data only contains data back to '2024-10-04 00:00:00'.
  warnings.warn(f"Anchor timestamp is too early or aggregation "

Output()

In [178]:
# display(pred1_df)
pred1_df.describe()

              ENTITY  ANCHOR_TIMESTAMP  TARGET_PRED
count      30.000000      3.000000e+01    30.000000
mean   281363.233333      1.738282e+12     0.109948
std      4873.614227      0.000000e+00     0.013149
min    274173.000000      1.738282e+12     0.084153
25%    277652.750000      1.738282e+12     0.100899
50%    280921.000000      1.738282e+12     0.112039
75%    285256.750000      1.738282e+12     0.119091
max    290392.000000      1.738282e+12     0.132607

In [43]:
print(pred1_df.TARGET_PRED.describe())

print(pred2_df.TARGET_PRED.describe())

count    100.000000
mean       0.381872
std        0.013245
min        0.348448
25%        0.372218
50%        0.382423
75%        0.390613
max        0.420499
Name: TARGET_PRED, dtype: float64
count    100.000000
mean       0.383844
std        0.013020
min        0.346941
25%        0.377365
50%        0.386213
75%        0.391893
max        0.410187
Name: TARGET_PRED, dtype: float64

In [186]:
# plot(pred1_df.TARGET_PRED)

In [174]:
# pred1_df.loc[pred1_df['PREDICTED']==False].sort_values(by='SCORE', ascending=False)
pred1_df.sort_values(by='TARGET_PRED', ascending=False)

    ENTITY  ANCHOR_TIMESTAMP  TARGET_PRED
1   272117     1738281600000     0.131647
24  272146     1738281600000     0.128768
16  272135     1738281600000     0.126386
12  272129     1738281600000     0.122993
6   272122     1738281600000     0.121498
28  272153     1738281600000     0.120701
7   272123     1738281600000     0.120521
26  272149     1738281600000     0.119449
29  272155     1738281600000     0.119343
25  272148     1738281600000     0.116192
18  272137     1738281600000     0.115499
8   272125     1738281600000     0.113248
21  272141     1738281600000     0.113210
0   272116     1738281600000     0.113194
19  272138     1738281600000     0.112008
27  272151     1738281600000     0.110960
22  272142     1738281600000     0.109389
13  272130     1738281600000     0.107971
17  272136     1738281600000     0.106015
10  272127     1738281600000     0.103234
11  272128     1738281600000     0.102692
15  272134     1738281600000     0.099406
4   272120     1738281600000     0.095618
23  272143     1738281600000     0.090331
5   272121     1738281600000     0.089569
14  272131     1738281600000     0.085849
20  272140     1738281600000     0.080980
9   272126     1738281600000     0.080278
3   272119     1738281600000     0.076773
2   272118     1738281600000     0.074398

In [45]:
df_test.loc[df_test['disapprove']==True].head()

,src_freebase_id,relation,dest_freebase_id,timestamp,relation_name,relation_id,freebase_id_x,label_x,src_wikidata_id,freebase_id_y,label_y,dest_wikidata_id,triple_id,disapprove
9144,/m/0nm9y,/location/hud_foreclosure_area/estimated_numbe...,/m/0jbk9,2025-01-02,/location/hud_foreclosure_area/estimated_numbe...,120,/m/0nm9y,Aroostook County,491046,/m/0jbk9,United States Department of Housing and Urban ...,7094,277360,True
9145,/m/07wm6,/education/educational_institution/students_gr...,/m/0193x,2025-01-02,/education/educational_institution/students_gr...,101,/m/07wm6,University of Manitoba,1191833,/m/0193x,biochemistry,811595,274722,True
9146,/m/05gnf,/award/award_winner/awards_won./award/award_ho...,/m/07ymr5,2025-01-02,/award/award_winner/awards_won./award/award_ho...,3,/m/05gnf,NBC,13974,/m/07ymr5,Andy Samberg,23444,289982,True
9147,/m/049n7,/sports/sports_team/colors,/m/083jv,2025-01-02,/sports/sports_team/colors,95,/m/049n7,Kansas City Royals,744530,/m/083jv,white,314640,274608,True
9148,/m/03qbnj,/award/award_category/winners./award/award_hon...,/m/0478__m,2025-01-02,/award/award_category/winners./award/award_hon...,47,/m/03qbnj,Grammy Award for Best Pop Vocal Album,1027891,/m/0478__m,Lady Gaga,28389,275605,True

pquery_relations_for_entity = kumo.PredictiveQuery(
	graph=graph,
	query=query
)

pquery_relations_for_entity.validate()

In [273]:
graph._to_api_graph_definition()

GraphDefinition(tables={'triples': TableDefinition(cols=[Column(name='triple_id', stype=ID, dtype=int, timestamp_format=None), Column(name='src_wikidata_id', stype=ID, dtype=int, timestamp_format=None), Column(name='relation_id', stype=ID, dtype=int, timestamp_format=None), Column(name='dest_wikidata_id', stype=ID, dtype=int, timestamp_format=None), Column(name='timestamp', stype=timestamp, dtype=string, timestamp_format=None), Column(name='inaccurate', stype=categorical, dtype=int, timestamp_format=None)], source_table=UnavailableSourceTable(table='triples', data_source_type=UNAVAILABLE), pkey='triple_id', time_col='timestamp', end_time_col=None), 'relations': TableDefinition(cols=[Column(name='relation_name', stype=text, dtype=string, timestamp_format=None), Column(name='relation_id', stype=ID, dtype=int, timestamp_format=None)], source_table=UnavailableSourceTable(table='relations', data_source_type=UNAVAILABLE), pkey='relation_id', time_col=None, end_time_col=None), 'freebase_vs_wiki_src': TableDefinition(cols=[Column(name='freebase_id', stype=ID, dtype=string, timestamp_format=None), Column(name='label', stype=text, dtype=string, timestamp_format=None), Column(name='wikidata_id', stype=ID, dtype=int, timestamp_format=None)], source_table=UnavailableSourceTable(table='freebase_vs_wiki_src', data_source_type=UNAVAILABLE), pkey='wikidata_id', time_col=None, end_time_col=None), 'freebase_vs_wiki_dest': TableDefinition(cols=[Column(name='freebase_id', stype=ID, dtype=string, timestamp_format=None), Column(name='label', stype=text, dtype=string, timestamp_format=None), Column(name='wikidata_id', stype=ID, dtype=int, timestamp_format=None)], source_table=UnavailableSourceTable(table='freebase_vs_wiki_dest', data_source_type=UNAVAILABLE), pkey='wikidata_id', time_col=None, end_time_col=None)}, col_groups=[ColumnKeyGroup(columns=(ColumnKey(table_name='relations', col_name='relation_id'), ColumnKey(table_name='triples', col_name='relation_id'))), ColumnKeyGroup(columns=(ColumnKey(table_name='freebase_vs_wiki_src', col_name='wikidata_id'), ColumnKey(table_name='triples', col_name='src_wikidata_id'))), ColumnKeyGroup(columns=(ColumnKey(table_name='freebase_vs_wiki_dest', col_name='wikidata_id'), ColumnKey(table_name='triples', col_name='dest_wikidata_id')))])

In [ ]:
# Running examples
# all relations with src_wikidata_id 
## 7413907 / Q7413907 , San Francisco
## 486860 , Mountain View
## 2685, Arnold Schwarzenegger

triplets_with_src_dst_wiki_ids_df.loc[triplets_with_src_dst_wiki_ids_df['src_wikidata_id']==2685].to_csv(
    "~/Downloads/arnold_schwarzenegger_outgoing_edges.csv", index=False
)

In [ ]:
## Arnold Schwarznegger

# 6 -> /film/actor/film./film/performance/film
# 38 -> nomination
#

## Yago semantic graph 
Usecase - find inconsistencies / anomalies in knowledge graphs