In [1]:
import pandas as pd

In [2]:
data_path = "../../datasets/fb15k-237/"

In [3]:
freebase_vs_wiki_df =  pd.read_csv(f"{data_path}/fb_wiki_mapping.tsv", sep='\t')

In [4]:
freebase_vs_wiki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2096636 entries, 0 to 2096635
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   freebase_id  object
 1   wikidata_id  object
 2   label        object
dtypes: object(3)
memory usage: 48.0+ MB

In [9]:
freebase_vs_wiki_df.head()

  freebase_id wikidata_id        label
0   /m/010005     Q974334      Corinth
1   /m/01000j     Q981582       Draper
2   /m/01000w     Q977417  Cross Roads
3   /m/010016     Q128306       Denton
4   /m/01001l     Q981426   Double Oak

In [10]:
wiki_descriptions_df = pd.read_csv(f"../wiki_processing/wiki_entities_text_dedup.csv")

In [11]:
wiki_descriptions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13756 entries, 0 to 13755
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   QID      13756 non-null  object
 1   Title    13756 non-null  object
 2   Extract  13756 non-null  object
dtypes: object(3)
memory usage: 322.5+ KB

In [12]:
wiki_descriptions_df.head()

,QID,Title,Extract
0,Q100,Boston,Boston is the capital and most populous city o...
1,Q1000,Gabon,Gabon ( gə-BON; French pronunciation: [ɡabɔ̃] ...
2,Q1000222,"Port Huron, Michigan",Port Huron is a city in and the county seat of...
3,Q1000597,Burton upon Trent,"Burton upon Trent, also known as Burton-on-Tre..."
4,Q1000642,"Summit, New Jersey",Summit is the northernmost city of Union Count...

In [13]:
# wiki_descriptions_df['wikidata_id'] = wiki_descriptions_df.apply(lambda row: int(row['QID'][1:]), axis=1)

In [14]:
df = pd.merge(freebase_vs_wiki_df, wiki_descriptions_df, left_on='wikidata_id', right_on='QID')

In [16]:
df.columns

Index(['freebase_id', 'wikidata_id', 'label', 'QID', 'Title', 'Extract'], dtype='object')

In [17]:
df[['freebase_id', 'wikidata_id', 'label', 'Title', 'Extract']].to_csv(
    f"{data_path}/derived/fb_wiki_mapping_incl_wiki_extracts.csv", index=False
)